*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
.python-version

# Ignore datasets
data/
# But DO NOT ignore the data functions inside dine/
!dine/data/

# Ignore GCP service account keys
gcp/dine-lewagon-17c342455fa0.json
